<div class="flex flex-row items-center justify-center">
  <div class="bg-gray-400 p-2 w-2/3 shadow-md">
    <div class="flex flex-row justify-center">
      <label class="mr-3 font-bold" for="units">Units Consumed</label>
      <input type="text" class="shadow rounded-md mr-3" [(ngModel)]="units">
      <button class="shadow-lg rounded-lg hover:bg-blue-300 bg-blue-400" (click)="onCalculate()">Calculate</button>
    </div>

    <div class="flex flex-row justify-center" *ngIf="billAmount!=undefined">
      YOUR BILL AMOUNT = {{billAmount}}
    </div>
  </div>


</div>

<router-outlet></router-outlet>
