

<router-outlet></router-outlet>
<div class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
  <button type="button" class="btn btn-primary btn-lg dropdown-toggle hide-toggle" data-bs-toggle="dropdown"
          aria-expanded="false" aria-haspopup="true">
    <i class="bi-chat"></i>
    <span class="visually-hidden">Add Category</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-lg-start">
    <li>
      <label>Share your Feedback</label>
      <textarea>
      </textarea>
    </li>
  </ul>
</div>
