<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="../assets/eco-house.svg" loading="lazy" class="rounded-sm w-10" alt="electricity">
      <h1 class="ml-3 text-xl uppercase">tneb Home bill calculator {{year}}</h1>
    </a>
  </div>
</header>
<div class="container-fluid flex flex-row justify-center ">
  <div class="card col-10">
    <div class="card-body ">
      <div class="flex flex-lg-row flex-column justify-center ">
        <h1 class="fs-3 mt-lg-2 font-bold col-lg-3 col-10 text-center">Units Consumed</h1>
        <div class="col-lg-8 col-12">
          <div class="input-group input-group-lg d-none d-lg-flex">
            <input type="number" class="form-control" [(ngModel)]="units" />
            <button (click)="onCalculate()" class="btn btn-primary btn-lg">
              Calculate Bill Amount
            </button>
          </div>
          <div class="d-lg-none flex justify-center flex-column">
            <input type="number" class="form-control fs-2 mt-2" [(ngModel)]="units" />
            <button (click)="onCalculate()" class="btn btn-primary btn-lg mt-2">
              Calculate Bill Amount
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid flex flex-row justify-center"  *ngIf="billAmount!=undefined">
  <div class="card col-10">
    <div class="card-body ">
        <div class="flex flex-lg-row flex-column justify-center">
          <span class="text-xl mr-2 mt-2 text-center">YOUR BILL AMOUNT IS</span>
          <span class="font-bold text-3xl text-center">Rs. {{billAmount}}</span>
      </div>
    </div>
  </div>
</div>

